.wrapper {

}

.user {
    width: 20%;
    margin: 60px auto;
}

.userPhoto {
    filter: invert(100%);
    display: block;
    width: 127px;
    margin: 0 auto;
}

.userName {
    text-align: center;
    width: 100%;
    margin: 17px 0;
    font: bold 1.8em  "Open Sans";
    color: white;
}

.userInformation {
    margin: 0 auto;
    padding: 20px;
    border-radius: 17px;
    width: 60%;
    background-color: white;
}

.switches {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 0;
}

.switch {
    display: inline-block;
    background-color: #D9D9D9;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 45px;
    width: 210px;
    margin: 0 10px;
    padding: 10px 0;
    text-align: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.switch:hover {
    background-color: white;
}

.form {
    margin: 40px 120px;
}

.formLabel {
    font-family: "Open Sans", sans-serif ;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 16px;
}

.formControl {
    border: 2px solid #757070;
    box-sizing: border-box;
    border-radius: 17px;
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em;
    color: #7C7676;
}

.formControl:active {
    border: 2px solid #3d3a3a;
}

.buttons {
    display: flex;
    justify-content: center;
}

.invalidFeedback {
    display: block;
    text-align: center;
}

.btn {
    display: inline-block;
    margin: 20px 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px;
    width: 30%;
    background: #FBCB84;
    border-radius: 20px;
    border-color: transparent;
    color: black;
}

.btn:hover {
    outline: none;
    background-color: #F18A93;
    box-shadow: 0 0 5px rgba(78, 78, 78, 0.5);
    border-color: transparent;
}

@media all and (max-width: 1500px){
    .userInformation {
        width: 60%;
    }
    .btn {
        width: 30%;
    }
    .form {
        margin: 30px 90px;
    }
}

@media all and (max-width: 1200px){
    .userInformation {
        width: 65%;
    }
    .btn {
        width: 30%;
    }
    .form {
        margin: 20px 70px;
    }
}
@media all and (max-width: 992px){
    .userInformation {
        width: 75%;
    }
    .text {
        font-size: 1.2em;
    }
    .form {
        margin: 20px 60px;
    }
}

@media all and (max-width: 768px) {
    .userInformation {
        width: 80%;
        padding: 10px 20px;
    }
    .btn{
        width: 30%;
    }
    .form {
        margin: 20px 10px;
    }
}

@media all and (max-width: 480px) {
    .userInformation {
        width: 100%;
        padding: 7% 4%;
    }
    .btn{
        width: 30%;
    }
}