.wrapper {
    padding: 0 0 100px 0;
}

.user {
    margin: 60px auto;
}
.avatar {
    display: block;
    width: 127px;
    height: 127px;
    margin: 0 auto;
    border-radius: 50%;
}

.userAvatar {
    border: 5px solid white;
    display: block;
    object-fit: cover;
}

.hide {
    display: none;
}

.uploadAvatarBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatarPreview {
    display: block;
    width: 100px;
    border-radius: 10px;
}

.uploadAvatar {
    display: inline-block;
    cursor: pointer;
    background-color: #F18A93;
    padding: 8px;
    margin: 20px;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    border-radius: 17px;
}

.btnAvatar {
    margin: 10px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    padding: 0;
}

.btnMobile {

}

.btnAvatar:hover {
    margin-top: -5px;
}

.btnUpload {
    background-image: url("../../assets/img/profile/upload.svg");
}

.btnDelete {
    background-image: url("../../assets/img/profile/delete.svg");
}

.userName {
    text-align: center;
    width: 100%;
    margin: 17px 0;
    font: bold 1.8em  "Open Sans";
    color: white;
}

.userInformation {
    margin: 0 auto;
    padding: 20px;
    border-radius: 17px;
    width: 60%;
    background-color: white;
}

.switches {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 0;
    border-color: transparent;
}

.switch {
    display: inline-block;
    background-color: #D9D9D9;
    border-color: transparent;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 45px;
    width: 210px;
    margin: 0 10px;
    padding: 10px 0;
    text-align: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    cursor: pointer;
}
.switchActive{
    background-color: white;
}
.switch:hover {
    background-color: white;
}

.form {
    margin: 40px 120px;
}

.formLabel {
    font-family: "Open Sans", sans-serif ;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 16px;
}

.formControl {
    border: 2px solid #757070;
    box-sizing: border-box;
    border-radius: 17px;
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em;
    color: #7C7676;
}

.formControl:active {
    border: 2px solid #3d3a3a;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.invalidFeedback {
    display: block;
    text-align: center;
}

.btn {
    display: inline-block;
    margin: 20px 20px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px;
    width: fit-content;
    background: #FBCB84;
    border-radius: 20px;
    border-color: transparent;
    color: black;
    cursor: pointer;
}

.btn:hover {
    outline: none;
    background-color: #F18A93;
    box-shadow: 0 0 5px rgba(78, 78, 78, 0.5);
    border-color: transparent;
}

@media all and (max-width: 1500px){
    .userInformation {
        width: 60%;
    }
    .btn {
        width: 30%;
    }
    .form {
        margin: 30px 90px;
    }
}

@media all and (max-width: 1200px){
    .userInformation {
        width: 65%;
    }
    .btn {
        width: 30%;
        font-size: 1em;
    }
    .formLabel {
        font-size: 1.2em;
    }
    .form {
        margin: 20px 70px;
    }
}
@media all and (max-width: 992px){
    .userInformation {
        width: 75%;
    }
    .btn {
        width: 30%;
        font-size: 0.9em;
    }
    .formLabel {
        font-size: 1.2em;
    }
    .text {
        font-size: 1.2em;
    }
    .form {
        margin: 20px 60px;
    }
}

@media all and (max-width: 768px) {
    .userInformation {
        width: 80%;
        padding: 10px 20px;
    }
    .btn{
        margin: 5px;
        width: 250px;
        font-size: 0.8em;
    }
    .form {
        margin: 30px 40px;
    }
    .btnMobile {
        width: 197px;
    }
    .formLabel {
        font-size: 1em;
    }
    .formControl {
        font-size: 1em;
        height: 40px;
    }
    .btnAvatar {
        width: 20px;
        margin: 3px;
        height: 20px;
    }
    .user {
        margin: 20px auto;
    }
    .userName {
        font-size: 1.5em;
    }
    .avatar {
        width: 110px;
        height: 110px;
    }
}

@media all and (max-width: 480px) {
    .userInformation {
        width: 100%;
        padding: 15px 10px;
    }
    .btn {
        width: 250px;
        margin: 5px;
        padding: 5px;
        font-size: 0.9em;
    }
    .form {
        margin: 2px;
    }
    .btnMobile {
        width: 197px;
    }
    .formLabel {
        font-size: 1em;
    }
    .formControl {
        font-size: 1em;
        height: 40px;
    }
    .btnAvatar {
        width: 20px;
        margin: 3px;
        height: 20px;
    }
    .user {
        margin: 20px auto;
    }
    .userName {
        font-size: 1.5em;
    }
    .avatar {
        width: 110px;
        height: 110px;
    }
}