.step {
    background-color: white;
    border-radius: 10px;
    padding: 25px 35px;
    display: grid;
    grid-template-areas: "image title"
                         "image text";
    grid-template-columns: 165px 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 70px;
    row-gap: 10px;
    width: 750px;
}

.stepImage {
    grid-area: image;
}

.title {
    grid-area: title;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: rgba(0, 0, 0, 0.17);
    margin: 0;
}

.text {
    font-family: Montserrat, sans-serif;
    grid-area: text;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 0;
    align-self: flex-start;
}


@media all and (max-width: 768px) {
    .step {
        column-gap: 15px;
        padding: 15px 20px;
        grid-template-columns: 100px 1fr;
        align-items: center;
        max-width: 600px;
        min-height: 160px;
    }

    .stepImage {
        height: 100px;
        width: 100px;
    }
}

@media all and (max-width: 500px) {
    .step {
        max-width: 400px;
        grid-template-rows: 20px 1fr;
        grid-template-columns: 70px 1fr;
        min-height: 120px;
    }

    .stepImage {
        height: 70px;
        width: 70px;
    }

    .title {
        font-size: 15px;
        line-height: 20px;
    }

    .text {
        font-size: 11px;
        line-height: 13px;
    }
}

@media all and (max-width: 400px) {
    .step {
        max-width: 350px;
    }
}

@media all and (max-width: 330px) {
    .step {
        max-width: 300px;
    }
}