.content {
    width: 1200px;
    margin: 70px auto 80px;
    padding-bottom: 100px;
}

.buttonsBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: fit-content;
    max-width: 60%;
    gap: 6px 12px;
}

.tag {
    padding: 6px 11px;
    border-radius: 100px;
    color: white;
    text-align: center;
    background: linear-gradient(87.42deg, #F7B380 17.31%, #F36A76 71.5%), #C4C4C4;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /*margin-bottom: 12px;*/
    /*margin-right: 6px;*/
    height: fit-content;
}

.cross {
    margin-left: 10px;
    cursor: pointer;
}

@media all and (max-width: 1500px) {

}

@media all and (max-width: 1200px) {
    .content {
        width: 900px;
    }
}

@media all and (max-width: 992px) {
    .content {
        width: 80%;
    }

    .btn {
        font-size: 20px;
    }
}

@media all and (max-width: 768px) {
    .content {
        width: 90%;
    }

    .btn {
        font-size: 15px;
        padding: 15px 50px;
    }
}

@media all and (max-width: 520px) {
    .content {
        width: 90%;
    }

    .btn {
        font-size: 15px;
        padding: 10px 40px;
    }
}

@media all and (max-width: 480px) {
    .buttonsBlock {
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
}