.descriptionBanner {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.41);
    margin: 10px 0 110px 0;
}

.descriptionWrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.descriptionBlock {
    display: flex;
    align-items: center;
}

.description {
}

.title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.name {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 76px;
    color: #EF5B5B;
    text-transform: uppercase;
}

.text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 39px;
    line-height: 53px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.descriptionImage {
    display: block;
    margin-left: 90px;
}

.buttonsBlock {
    margin-top: 70px;
    display: flex;
}

.btn {
    display: block;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    padding: 20px 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    color: black;
}

.btn:hover {
    color: white;
}

.btn.login {
    padding: 20px 70px;
    background-color: #EF5B5B;
    color: white;
    margin-right: 20px;
}

.btn.login:hover {
    background-color: #fc6c7a;
}

.btn.register {
    padding: 20px 55px;
    background-color: #FBE184;
}

.btn.register:hover {
    background-color: #ffe8b9;
    color: black;
}

@media all and (max-width: 1024px) {
    .descriptionBanner {
        margin: 0 0 50px 0;
    }

    .descriptionWrapper {
        width: inherit;
        padding: 45px;
    }

    .descriptionImage {
        height: 200px;
    }

    .title {
        font-size: 30px;
        line-height: inherit;
        margin-bottom: 20px;
    }

    .name {
        font-size: 38px;
        line-height: inherit;
    }

    .text {
        font-size: 20px;
        line-height: inherit;
    }
}

@media all and (max-width: 768px) {
    .descriptionImage {
        display: none;
    }
}

@media all and (max-width: 500px) {
    .title {
        font-size: 18px;
        line-height: 25px
    }

    .name {
        font-size: 22px;
        line-height: 30px;
    }

    .text {
        font-size: 16px;
        line-height: 22px;
    }

    .buttonsBlock {
        margin-top: 10px;
    }

    .btn {
        font-size: 18px;
        line-height: 25px;
    }

    .btn.login {
        padding: 8px 22px;
    }

    .btn.register {
        padding: 10px 20px;
    }
}