.tag {
    padding: 6px 11px;
    border-radius: 100px;
    color: white;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(87.42deg, #F7B380 17.31%, #F36A76 71.5%), #C4C4C4;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /*margin-bottom: 12px;*/
    /*margin-right: 6px;*/
    flex: auto;
    height: fit-content;
}

.tag:last-child {
    margin-bottom: 0;
}

.tagsList {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 12px 6px;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: fit-content;
    max-width: 300px;
    min-width: 300px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 0;
    margin-bottom: -450px;
    z-index: 10;
}