.tag {
    padding: 6px 11px;
    border-radius: 100px;
    color: white;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(213.69deg, #2CDAA9 14.17%, #84F75C 84.58%), #C4C4C4;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
    margin-right: 6px;
    flex: auto;
    height: fit-content;
}

.tag:last-child {
    margin-bottom: 0;
}

.tagsList {
    background-color: white;
    padding: 20px 14px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: fit-content;
    max-width: 300px;
    min-width: 300px;
}