.controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.label {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 5px;
}