.aboutBlock {
    width: 1200px;
    margin: 0 auto 100px;
}

.title {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #FBCB84;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.text {
    padding: 0 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: black;
}