.cards {
    display: grid;
    gap: 20px;
    justify-content: center;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.progressBarContainer {
    margin-top: 20px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.progressBar {
    height: 10px;
    border-radius: 5px;
    background-color: green;
    transition: all ease 500ms;
}