.lessons {
    display: grid;
    grid-gap: 50px;
    margin-bottom: 20px;
}

.lessonCard {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    color: black;
}

.noLessons {
    background-color: white;
    color: #F56464;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    padding: 50px 100px;
    border-radius: 10px;
    font-size: 32px;
}

.sadSmile {
    cursor: default;
    transform: rotate(90deg);
}

@media all and (max-width: 710px) {
    .noLessons {
        text-align: center;
        margin: 0 auto;
        padding: 20px 40px;
        border-radius: 10px;
        font-size: 22px;
    }
}