.fragmentCard {
    display: block;
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 20px 25px;
    box-sizing: border-box;
    width: fit-content;
    max-width: 364px;
    text-decoration: none;
    transition: 0.5s;
    color: black;
}

.fragmentCard:hover {
    color: black;
    transform: translateY(-10px);
    box-shadow: 0 10px 10px 0 rgb(248, 180, 128);
}

.preview {
    position: relative;
    margin-bottom: 15px;
}

.addToFavoriteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    border: none;
    transition: background-image 0.2s ease-in-out;
}

.addToFavorite, .alreadyFavorite:hover {
    background-image: url("../../../../assets/img/fragments/addToFavorite.svg");
}

.addToFavorite:hover, .alreadyFavorite  {
    background-image: url("../../../../assets/img/fragments/full-heart.svg");
}

a {
    text-decoration: none;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    max-width: 200px;
    word-wrap: break-word;
    text-decoration: none;
}

.typeBlock {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.51);
}

.fragmentType {
    margin-left: 5px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.tag {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: linear-gradient(265.72deg, #F36A76 13.2%, #F8B480 93.71%), #C4C4C4;
    border-radius: 15px;
    padding: 1px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 25px;
    min-height: 25px;
}

.lastTag {
    background: linear-gradient(265.72deg, #3390ff 13.2%, #8cff24 93.71%), #C4C4C4;
}


@media all and (max-width: 900px) {
    .fragmentCard {
        width: 330px;
    }
    .previewImg {
        width: 280px;
        height: auto;
    }
}

@media all and (max-width: 710px) {
    .fragmentCard {
        width: 400px;
    }
    .previewImg {
        width: 314px;
        height: auto;
    }
}

@media all and (max-width: 480px) {
    .fragmentCard {
        width: 310px;
        padding: 15px 15px;
    }
    .previewImg {
        width: 280px;
        height: auto;
    }
}