.fragmentCard {
    display: block;
    background-color: white;
    border-radius: 10px;
    padding: 20px 25px;
    box-sizing: border-box;
    width: fit-content;
    text-decoration: none;
}

.fragmentCard:hover {
    margin-top: -10px;
}

.preview {
    position: relative;
    margin-bottom: 15px;
}

.addToFavorite {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../../../../assets/img/fragments/addToFavorite.png");
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    max-width: 250px;
    word-wrap: break-word;
}