.lessonCard {
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.lessonCard:hover {
    cursor: pointer;
    transform: scale(1.025);
    box-shadow: 0 0 10px 1px rgb(77, 77, 77);
}

.mainInfo {
    padding: 30px 25px 0;
    display: grid;
    grid-template-areas: "preview title title heart"
                         "preview annotation annotation ageLimit"
                         "preview count button ageLimit"
                         "tags count button ageLimit";
    grid-template-columns: 325px 1fr 1fr 50px;
    grid-template-rows: auto 1fr auto auto;
    margin-bottom: 15px;
}

.preview {
    grid-area: preview;
    display: block;
    width: 325px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.tags {
    grid-area: tags;
}

.title {
    grid-area: title;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    border-bottom: 2px solid #EF5B5B;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-left: 50px;
}

.titleGame {
    grid-area: title;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    border-bottom: 2px solid #7FB1DC;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-left: 50px;
}

.annotation {
    grid-area: annotation;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-left: 50px;
}

.fragmentsCount {
    grid-area: count;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.fragmentsCountTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    margin-right: 15px;
}

.count {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #EF5B5B;
}

.lessonButton {
    grid-area: button;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 280px;
    margin-left: auto;
    align-self: center;
}

.favorite {
    grid-area: heart;
    display: flex;
    justify-content: center;
}

.ageLimitWrapper {
    grid-area: ageLimit;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.ageLimit {
    text-align: center;
    color: white;
    /*border: 1px solid black;*/
    background-color: rgba(239, 91, 91, 0.9);
    border-radius: 50%;
    padding: 3px 8px;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.addToFavorite {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    transition: 500ms;
    margin: 0 7.5px 0;
}

.inFavorite {
    background-image: url("../../../../../assets/img/fragments/full-heart.svg");
}

.notInFavorite {
    background-image: url("../../../../../assets/img/fragments/addToFavorite.svg");
}

.addToFavorite:hover {
    transform: scale(1.2);
}

.author {
    background: rgba(239, 91, 91, 0.9);
    border-radius: 0 0 10px 10px;
    color: white;
    padding: 8px 80px;
    text-align: end;
}

.authorGame {
    background: #7FB1DC;
    border-radius: 0 0 10px 10px;
    color: white;
    padding: 8px 80px;
    text-align: end;
}

.creatorName {
    color: white;
    font-weight: bold;
}

.creatorName:hover {
    color: white;
    text-decoration: underline;
}

@media all and (max-width: 1024px) {
    .lessonCard {
        display: flex;
        border-radius: 9px;
        max-width: 320px;
        flex-direction: column;
        justify-content: space-between;
    }

    .mainInfo {
        position: relative;
        padding: 30px 25px 0;
        display: grid;
        grid-template-areas: "preview"
                         "title"
                         "annotation"
                         "count"
                         "tags"
                         ;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto auto;
        margin-bottom: 15px;
    }

    .preview {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .favorite {
        display: block;
        position: absolute;
        margin-left: 0;
        top: 35px;
        right: 22px;
    }

    .ageLimitWrapper {
        position: absolute;
        top: 38px;
        left: 28px;
    }

    .lessonButton {
        display: none;
    }

    .addToFavorite {
        display: block;
        bottom: 360px;
        right: 2px;
        background-color: rgba(255, 255, 255, 0.72);
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }

    .addToFavorite:hover {
        transform: scale(1.1);
    }

    .title {
        padding-bottom: 3px;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .annotation {
        font-size: 22px;
        margin-left: 0;
    }

    .fragmentsCount {
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
    }

    .fragmentsCountTitle {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #000000;
        margin-right: 15px;
    }

    .count {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #EF5B5B;
    }

    .author {
        border-radius: 0 0 9px 9px;
        color: black;
        padding: 15px 24px;
        text-align: start;
        font-weight: 600;
    }

    .creatorName {
        color: black;
    }
}

@media all and (max-width: 765px) {
    .mainInfo {
        padding: 30px 20px 0;
    }

    .lessonCard:hover {
        transform: scale(1);
        box-shadow: none;
    }
}

@media all and (max-width: 425px) {
    .mainInfo {
        padding: 20px 20px 0;
    }
    .favorite {
        top: 25px;
        right: 18px;
    }
}