
.switch:hover {
    background-color: white;
}

.form {
    margin: 40px 120px;
}

.formLabel {
    font-family: "Open Sans", sans-serif ;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 16px;
}

.formControl {
    border: 2px solid #757070;
    box-sizing: border-box;
    border-radius: 17px;
    height: 45px;
    width: 600px;
    margin-bottom: 5px;
    padding: 5px 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em;
    color: #7C7676;
}

.formControl:active{
    border: 2px solid #3d3a3a;
}

.btn {
    display: block;;
    margin: 20px auto;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    padding: 8px;
    width: 30%;
    background: #FBCB84;
    border-radius: 20px;
    border-color: transparent;
    color: white;
}

.btn:hover {
    outline: none;
    background-color: #F18A93;
    box-shadow: 0 0 5px rgba(78, 78, 78, 0.5);
    border-color: transparent;
}
