.taskWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 50px 0;
}

.exampleButton {
    display: block;
    border-radius: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    padding: 0 16px;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    color: black;
    background-color: #FBE184;
    width: fit-content;
}

.exampleButton:hover {
    color: white;
    background-color: #fc6c7a;
    cursor: pointer;
}