.exampleButton {
    display: block;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    color: black;
    /*padding: 20px 55px;*/
    background-color: #FBE184;
    width: fit-content;
    margin: 0 0 20px 20px;
}

.exampleButton:hover {
    color: white;
    background-color: #fc6c7a;
    cursor: pointer;
}