.fragmentsList {
    margin: 20px 0 30px 0;
}
.fragmentsWrapper{
    padding: 30px 40px;
}
.title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    align-content: center;
    margin: 0 auto;
    width: fit-content;
}

.actionBlock {
    display: flex;
    justify-content: space-between;
}

.addButton {
    display: inline-block;
    width: 120px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
    background-color: #EF5B5B;
    border-radius: 4px;
    border-color: transparent;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}

.addButton:hover {
    background-color: #fdc660;
}