.audience {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 115px;
    height: 115px;
    margin-bottom: 40px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    color: #FBCB84;
    text-transform: uppercase;
    text-align: center;
}

.text {
    font-weight: 600;
    font-size: 20px;
    color: black;
    text-align: center;
}


@media all and (max-width: 768px) {
    .audience {
        width: 200px;
    }

    .image {
        width: 90px;
        height: 90px;
        margin-bottom: 30px;
    }

    .text {
        font-size: 16px;
    }
}

@media all and (max-width: 500px) {
    .audience {
        width: 120px;
    }

    .image {
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
    }

    .title {
        font-size: 13px;
        line-height: 18px;
    }

    .text {
        font-size: 10px;
        line-height: 14px;
    }
}