.nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

.headerWrapper {
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
    display: block;
    margin-right: auto;
}

.navLink {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    margin: 0 1%;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    transition: all .15s;
    background-position: center;
}

.navLink:last-child:not(:first-child) {
    margin-left: auto;
    width: 130px;
}

.dropDown .navLink {
    margin: 0;
    background-position: center;
}

.dropDown:hover .navLink {
    margin: 0;
    background-image: url('./../../Stylesheets/menu_hover.svg');
    background-repeat: no-repeat;
    color: #F56464;
    background-size: 130px;
    background-position: center;
    cursor: pointer;
}

.dropDownMenu {
    position: absolute;
    background-color: rgba(80, 80, 80, 0.59);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 205px;
    text-align: center;
}

.dropDownMenu .dropDownItem {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    transition: all .15s;
}

.dropDownMenu .dropDownItem:hover {
    color: #F56464;
    cursor: pointer;
}

.navLink:hover {
    background-image: url('./../../Stylesheets/menu_hover.svg');
    background-repeat: no-repeat;
    color: #F56464;
    background-size: 130px;
    background-position: center;
    cursor: pointer;
}

a.active {
    color: #F56464;
    background-image: url('./../../Stylesheets/menu_hover.svg');
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center;
}

@media all and (max-width: 1500px){
    .navLink {
        font-size: 1.1em;
    }

}
@media all and (max-width: 1200px){
    .navLink {
        font-size: 1.1em;
    }
}
@media all and (max-width: 992px){
    .navLink {
        font-size: 1.2em;
    }
}

@media all and (max-width: 768px) {
    .navLink {
        font-size: 1.2em;
    }
}

@media all and (max-width: 480px) {
    .navLink {
        font-size: 1.2em;
    }
    .nav {
        margin: 4% auto;
    }
}