.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.navLink {
    text-decoration: none;
    margin: 20px;
    color: white;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}

.sideNavLink {
    justify-self: flex-end;
}
.navLink:hover{
    color: white;
}