.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.headerWrapper {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.logoLink {
    margin-right: auto;
    margin-top: -20px;
}

.logo {
    height: 100px;
    display: block;
}

.navLink {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    transition: all .15s;
    background-position: center;
    width: max-content;
    min-width: 130px;
}

.navLink:last-child:not(:first-child) {
    margin-left: auto;
}

.navLink:hover {
    background-image: url('../../assets/img/navbar/menu_hover.svg');
    background-repeat: no-repeat;
    color: #F56464;
    background-size: 130px;
    background-position: center;
    cursor: pointer;
}

.dropDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.dropDown .navLink {
    background-image: none;
}

.dropDown:hover {
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /*padding: 12px 9px 0 9px;*/
}

.dropDown:hover .navLink {
    color: black !important;
    width: 251px;
}

.dropDownMenu {
    position: absolute;
    top: 69px;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
    width: max-content;
}

.dropDownMenu .dropDownItem {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    transition: all .15s;
    width: 251px;
}

.dropDownMenu .dropDownItem:hover {
    color: #F56464;
    cursor: pointer;
}

a.active {
    color: #F56464;
    background-image: url('../../assets/img/navbar/menu_hover.svg');
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center;
}


@media all and (max-width: 1500px) {
    .navLink {
        font-size: 1.1em;
    }
}

@media all and (max-width: 1200px) {
    .headerWrapper {
        width: 100%;
        flex-wrap: nowrap;
    }

    .navLink {
        font-size: 1em;
        padding: 20px 5px;
        margin: 0 5px;
        min-width: 100px;
    }

    .dropDown:hover .navLink {
        padding: 20px 0 10px 0;
        color: #F56464 !important;
        min-width: 100px;
        width: 178px;
    }

    .dropDownMenu .dropDownItem {
        font-size: 1em;
        width: 158px;
        margin: 0 auto;
    }

    .dropDownMenu {
        width: 188px;
        top: 53px;
    }

    .nav {
        margin-top: 0;
    }

    .navLink:hover {
        background-image: none;
    }

    a.active {
        background-image: none;
    }

    .logo {
        margin-top: 0;
        height: 70px;
    }

    .logoLink {
        margin-top: 0;
    }
}

@media all and (max-width: 900px) {
    .nav {
        margin-top: 0;
    }

    .headerWrapper {
        display: none;
    }
}