.header {
    margin-top: 1%;
}

.nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    /*position: fixed;*/
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}
.navLink {
    display: inline;
    text-decoration: none;
    /*margin: 20px;*/
    padding: 20px;
    text-align: center;
    width: 180px;
    margin: 0 1%;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    transition: all .15s;
    border-bottom: 2px solid transparent;
    background-position: center;
}
.navLink:hover {
    background-image: url('./../../Stylesheets/menu_hover.svg');
    background-repeat: no-repeat;
    color: #F56464;
    background-size: 130px;
    background-position: center;
}

a.active {
    color: #F56464;
    background-image: url('./../../Stylesheets/menu_hover.svg');
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center;
}

@media all and (max-width: 1500px){
    .navLink {
        font-size: 1.1em;
    }

}
@media all and (max-width: 1200px){
    .navLink {
        font-size: 1.1em;
    }
}
@media all and (max-width: 992px){
    .navLink {
        font-size: 1.2em;
    }
}

@media all and (max-width: 768px) {
    .navLink {
        font-size: 1.2em;
    }
}

@media all and (max-width: 480px) {
    .navLink {
        font-size: 1.2em;
    }
    .nav {
        margin: 4% auto;
    }
}