* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url("../assets/img/background-img.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(83, 104, 113, 0.73);
}
.content {
    width: 1200px;
    margin: 70px auto 40px;
}

h1.pageTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: white;
    /*text-decoration: underline #F56464;*/
    margin-bottom: 30px;
    width: fit-content;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 54px;
    color: white;
    width: fit-content;
}

.btn {
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: 210px;
    background-color: #EF5B5B;
    border-radius: 10px;
    border: none;
    transition: background-color;
    transition-duration: 200ms;
    min-height: 70px;
    margin: 0;
}

.btn:hover {
    background-color: #FBCB84;
    color: white;
}

.btn:disabled {
    background-color: #7C7676;
    opacity: 1;
}

.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #FBCB84;
}

.uploadBtn {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px;
    width: 280px;
    background-color: #FBCB84;
    border-radius: 20px;
    border: none;
    color: black;
    cursor: pointer;
    margin-top: 20px;
}

.uploadBtn:hover {
    outline: none;
    background-color: #F18A93;
    box-shadow: 0 0 5px rgba(78, 78, 78, 0.5);
}

.hide {
    display: none;
}

.textarea {
    display: block;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.addToFavorite {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    transition: transform 500ms;
    margin: 0 7.5px 0;
}

.inFavorite {
    background-image: url("../assets/img/fragments/full-heart.svg");
}

.notInFavorite {
    background-image: url("../assets/img/fragments/addToFavorite.svg");
}

.addToFavorite:hover {
    transform: scale(1.2);
}

.avatar {
    border-radius: 50%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
}

.inputError {
    font-size: 20px;
    color: white;
    text-decoration: underline;
    text-decoration-color: #EF5B5B;
    margin-top: 5px;
}

.backButton {
    background-image: url("../assets/img/backArrow.svg");
    background-size: cover;
    background-position: center center;
    height: 35px;
    width: 25px;
    background-color: transparent;
    border: none;
    transition: 500ms;
}

.backButton:hover {
    transform: translateX(-10px);
    padding-right: 10px;
}

.backButton:focus {
    outline: none;
}

@media all and (max-width: 1220px) {
    .content {
        width: 900px;
    }
}

@media all and (max-width: 920px) {
    .content {
        width: 700px;
    }
}

@media all and (max-width: 768px) {
    .btn {
        width: 200px;
        min-height: 60px;
        font-size: 18px;
    }
}

@media all and (max-width: 720px) {
    .content {
        width: 95%;
        margin: 40px auto 0;
    }
}

@media all and (max-width: 480px) {
    .btn {
        width: 280px;
        margin: 10px 0;
        min-height: 60px;
        font-size: 18px;
    }

    h1.pageTitle {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0;
    }
}
