.pagination {
    display: grid;
    grid-template-columns: 45px 1fr 45px;
    column-gap: 4px;
    font-size: 18px;
    align-items: center;
}

.mobilePagination {
    display: none;
}

.pages {
    display: flex;
    justify-content: space-between;
    background-color: #E2E2E2;
    border-radius: 20px;
    align-items: center;
    padding: 7px 25px;
    box-sizing: border-box;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    width: 35px;
    height: 35px;
    transition: 0.5s;
}

.page:not(.current):hover {
    cursor: pointer;
    transform: translateY(-5px);
    border-bottom: 3px solid #F56464;
}

.page.current {
    font-weight: bold;
    background-color: rgba(251, 203, 132, 0.79);
    border-radius: 50%;
    padding: 2px 10px;
    transition: 0.5s;
}

.prevPage, .nextPage {
    background-color: #E2E2E2;
    border-radius: 50%;
    background-image: url("../../assets/img/profile/arrow.png");
    width: 45px;
    height: 45px;
    background-position-x: -2px;
    transition: 0.5s;
}

.nextPage {
    transform: rotate(180deg);
}

.nextPage:hover {
    cursor: pointer;
    transform: translateY(-5px) rotate(180deg);
}

.prevPage:hover,
.page.current:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

@media all and (max-width: 710px) {
    .pagination {
        display: none;
    }
    .mobilePagination {
        display: grid;
        grid-template-columns: 45px 1fr 45px;
        column-gap: 4px;
        font-size: 18px;
        align-items: center;
        margin: 20px auto;
    }
    .pages {
        padding: 7px 10px;
    }
    .page {
        width: 30px;
        height: 30px;
    }
    .prevPage, .nextPage {
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: 35px;
    }
}
