.targetBlock {
    width: 1200px;
    margin: 0 auto 60px;
}

.audience {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


@media all and (max-width: 1024px) {
    .targetBlock {
        width: auto;
        padding: 0 50px;
    }
}
