.table {
    width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
}

.btn {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    width: 20px;
    height: 20px;
    background-size: contain;
    border: none;
    margin: 0 5px;
}

.btnSubmit {
    background-image: url("../../../Stylesheets/check.svg");
}

.btnBlock {
    background-image: url("../../../Stylesheets/user-block.svg");
}

.btnUnblock {
    background-image: url("../../../Stylesheets/unblock.png");
}

.btnEdit {
    background-image: url("../../../Stylesheets/edit.svg");
}

.formControl {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    margin: 5px 5px;
    padding: 5px 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: #7C7676;
}

.form {
    width: 50%;
}

.btn2 {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px;
    background: #F18A93;
    border-radius: 10px;
    border-color: transparent;
    color: #000000;
}

.form .btn2 {
    margin: 0 auto;
}

.blockedUser {
    background-color: rgba(170, 170, 170, 0.6);
}