.container_md {
    padding: 40px 80px;
    margin: 5% auto;
    width: 50%;
    border-radius: 17px;
    background-color: white;
}

.logLink {
    display: block;
    font-family: Roboto Condensed, sans-serif;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: rgba(132, 132, 132, 0.52);
    text-align: center;
}

.logLink:hover {
    color: rgba(132, 132, 132, 0.52);
}

.logLink:focus {
    color: rgba(132, 132, 132, 0.52);
}

a:hover {
    color: rgba(175, 175, 175, 0.52);
}