.container_md {
    padding: 50px 80px;
    margin: 5% auto;
    width: 40%;
    max-width: 100%;
    border-radius: 17px;
    background-color: white;
}

.logLink {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    text-decoration: none;
    color: rgba(132, 132, 132, 0.52);
    text-align: center;
}

.logLink:hover {
    color: rgba(97, 97, 97, 0.52);
}

.resetLink {
    display: block;
    margin: 10px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    text-decoration: underline;
    color: #F18A93;
    text-align: center;
}


.resetLink:hover {
    color: #FBCB84;
}

h1 {
    margin-bottom: 7%;
    text-transform: uppercase;
}

.text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    color: #000000;
    text-align: center;
}

.caption {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: rgb(49, 49, 49);
    text-align: center;
}

.invalidFeedback {
    display: block;
    text-align: center;
}

.btn {
    display: block;
    margin: 1% auto;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    padding: 8px;
    width: 60%;
    background: #FBCB84;
    border-radius: 20px;
    border-color: transparent;
    color: white;
}

.btn:hover {
    outline: none;
    background-color: #F18A93;

    box-shadow: 0 0 5px rgba(78, 78, 78, 0.5);
    border-color: transparent;
}

/*тестовые стили для неактивной кнопки*/
.btn:disabled {
    background-color: gray;
}


/*Стили инпутов*/
.formControl {
    padding: 0 15px;
    margin: 0 auto;
    color: #5a5a5a;
    border: 3px solid rgba(164, 164, 164, 0.24);
    border-radius: 27px;
    height: 3.6em;
    width: 95%;
    font-size: 1em;
}

.formControl:focus {
    outline: 0;
    border-color: lightgray;
    box-shadow: 0 0 0 0.2rem rgba(193, 193, 193, 0.33);
    transition: rgba(164, 164, 164, 0.24) .15s;
}

.formLabel {
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;
}

.invalidFeedback {
    display: block;
    text-align: center;
}

/*----------------------*/


@media all and (max-width: 1500px) {
    .container_md {
        width: 45%;
        margin: 2% auto;
    }

    .btn {
        width: 55%;
    }
}

@media all and (max-width: 1200px) {
    .container_md {
        width: 50%;
        margin: 3% auto;
    }

    .btn {
        width: 65%;
    }
}

@media all and (max-width: 992px) {
    .container_md {
        width: 70%;
        margin: 5% auto;
    }

    .logLink {
        font-size: 1.2em;
    }

    .text {
        font-size: 1.2em;
    }
}

@media all and (max-width: 768px) {
    .container_md {
        width: 80%;
        margin: 5% auto;
        padding: 10px 20px;
    }

    .btn {
        width: 60%;
    }

    .logLink {
        font-size: 1.2em;
    }

    .text {
        font-size: 1.2em;
    }
}

@media all and (max-width: 480px) {
    .container_md {
        width: 100%;
        padding: 7% 4%;
        margin: 10% auto;
    }

    .btn {
        width: 90%;
    }

    .logLink {
        font-size: 1.1em;
    }

    .text {
        font-size: 1.1em;
    }
}
