.lessonPreview {
    padding: 50px;
}

.lessonImage {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.annotationTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    margin-top: 10px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 425px) {
    .lessonPreview {
        padding: 20px;
    }

    .lessonImage {
        width: auto;
        height: 185px;
    }

    .bottom {
        display: none;
    }
}