* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url("assets/img/background-img.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(83, 104, 113, 0.73);
}
.content {
    width: 1200px;
    margin: 70px auto 40px;
}

h1.pageTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: white;
    /*text-decoration: underline #F56464;*/
    margin-bottom: 30px;
    width: fit-content;
}


@media all and (max-width: 720px) {
}

@media all and (max-width: 480px) {
    h1.pageTitle {
        font-size: 30px;
        line-height: 40px;
    }
}

.btn {
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: 210px;
    background-color: #EF5B5B;
    border-radius: 10px;
    border: none;
    transition: background-color;
    transition-duration: 200ms;
    min-height: 70px;
}

.btn:hover {
    background-color: #FBCB84;
    color: white;
}

.btn:disabled {
    background-color: #7C7676;
    opacity: 1;
}
.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #FBCB84;
}
