.searchBlock {
    margin-bottom: 40px;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: white;
    margin-bottom: 15px;
}

.total {
    color: rgba(255, 255, 255, 0.45);
}

.inputBlock {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.searchInput {
    display: block;
    border: none;
    background: #C4C4C4;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    padding: 8px 15px;
    box-sizing: border-box;
    width: 322px;
    margin-right: 35px;
    color: white;
}

.searchInput::placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.45);
}

.typeSelect {
    border: none;
    background: #C4C4C4;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    padding: 8px 23px;
    box-sizing: border-box;
    color: white;
    width: 322px;
    margin-right: 35px;
}

.searchButton {
    margin-left: 35px;
    width: 42px;
    height: 42px;
    padding: 0;
    color: transparent;
    background-size: 35px;
    background-color: transparent;
    background-position: center;
    border: none;
    background-image: url("../../../assets/img/fragments/search.svg");
    background-repeat: no-repeat;
    transition: 0.3s;
}

.searchButton:hover {
    transform: translateY(-5px);
}

.searchTags {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    position: relative;
}

.addTagButton {
    background: #C4C4C4;
    border-radius: 14px;
    border: none;
    width: 45px;
    color: white;
    font-size: 22px;
}

@media all and (max-width: 992px) {
    .searchButton {
        margin-left: 20px;
    }

    .searchInput, .searchInput::placeholder {
        font-size: 18px;
    }

    .typeSelect {
        height: 49px;
        font-size: 18px;
    }
}
@media all and (max-width: 960px) {
    .searchButton {
        font-weight: bold;
        width: 130px;
        height: 49px;
        margin: 5px;
        background-image: none;
        background-color: #FBE184;
        border-radius: 10px;
        color: rgba(90, 89, 89, 0.52);
    }
    .typeSelect, .searchInput {
        margin: 5px;
    }

    .inputBlock {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 720px) {
    .searchButton {
        margin: 5px 0 5px 5px;
    }
    .searchInput {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .typeSelect {
        width: 300px;
        padding: 8px 10px;
        margin: 5px 5px 5px 0;
    }
    .inputBlock {
        justify-content: space-between;
    }
}

@media all and (max-width: 480px) {
    .searchButton {
        margin: 5px 5px 5px 0;
    }
    .typeSelect {
        width: 100%;
        margin: 5px 0 5px 0;
    }
}