.wrapper {
    position: relative;
    height: 85px;
}

.titleBlock {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
}


@media all and (max-width: 480px) {
    .titleBlock {
        flex-wrap: wrap;
        gap: 0;
    }
    .wrapper {
        margin-bottom: 10px;
    }
}