.fragmentsList {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    align-items: baseline;
    margin: 0 auto 65px;
    width: fit-content;
}

.noFragments {
    background-color: white;
    color: #F56464;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    padding: 50px 100px;
    border-radius: 10px;
    font-size: 32px;
}

.sadSmile {
    cursor: default;
    transform: rotate(90deg);
}