.content {
    width: 1200px;
    margin: 70px auto 80px;
}

@media all and (max-width: 1200px) {
    .content {
        width: 900px;
    }
}

@media all and (max-width: 900px) {
    .content {
        width: 700px;
    }
}

@media all and (max-width: 720px) {
    .content {
        width: 100%;
        margin: 40px auto 0;
    }
}

@media all and (max-width: 480px) {
    .content {

    }
}
